pre {
    background-color: #1e1e1e;
    color: #dcdcdc;
    padding: 20px;
    border-radius: 5px;
    overflow: auto;
    margin: 0;
}

code {
    font-size: 18px;
    display: block;
    white-space: pre;
}

.keyword {
    color: #c678dd;
}

.operator {
    color: #56b6c2;
}

.property {
    color: #e5c07b;
}

.string {
    color: #98c379;
}

.number {
    color: #d19a66;
}
