.layout {
    display: flex;
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
    max-height: 600px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 9;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 60px 20px #000000;

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        border-radius: 10px;
        animation: fadeIn 1s ease-in-out;
        background-color: #151515;
        overflow: hidden;
    }

    &__body {
        flex: 1;
        overflow-y: auto;
        border-radius: 10px;
        // box-shadow: inset 0px -5px #5601ff;
        box-shadow: inset 0px -5px #FCF7ED;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            background: #101010;
        }

        &::-webkit-scrollbar-thumb {
            background: $secondary-color;
            border-radius: 10px;
            border: 3px solid #101010;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: lighten($secondary-color, 10%);
        }
    }
}

.main-content {
    flex: 1;
    overflow-y: auto;
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 5px;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: #101010;
    }

    &::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: 10px;
        border: 3px solid #101010;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: lighten($secondary-color, 10%);
    }
}

@media (max-width: 768px) {
    .layout {
        height: 100%;
        max-height: 90vh;
    }
}
