.profile {
    width: 320px;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;

    &__header {
        padding: 10px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        letter-spacing: 0.2rem;
        font-weight: bold;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        height: calc(100% - 80px - 20px * 2);
    }

    &__image {
        position: relative;
        transition: transform 0.3s;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(179, 179, 179, 0.2);

        img {
            width: 128px;
            height: 128px;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &__body {
        color: #fff;
        font-size: 0.9em;
        line-height: 1.6;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        p {
            margin-bottom: 20px;
        }
    }

    &__socials {
        margin-top: 60px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        gap: 16px;
        border-top: 1px solid #2c2c2c;
        width: 100%;

        a {
            display: flex;
        }

        .profile__social-link {
            color: #fff;
            font-size: 2.5em;
            transition: color 0.3s;

            &:hover {
                color: #5900ff;
            }
        }
    }

    &__name {
        font-size: 24px;
        margin: 20px 0;
    }
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &__item {
        position: relative;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(16, 16, 16, 0.6);
            border-radius: 10px;
            transition: background-color 0.3s;
        }

        &:hover {
            transform: scale(1.05);

            &::before {
                background-color: inherit;
            }
        }

        img {
            width: 28px;
            height: 28px;
        }
    }
}

@media (max-width: 768px) {
    .profile {
        display: none;
    }
}
