.sidebar {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    // box-shadow: inset 5px 5px #5601ff;
    box-shadow: inset 5px 5px #fcf7ed;
    border-radius: 10px;
    background: #101010;
    backdrop-filter: blur(5px);
    position: relative;

    &__item {
        width: 100%;
        color: #ecf8ff;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition:
            background-color 0.3s,
            transform 0.3s;
        background-color: #1b1b1b;
        border-radius: 10px;
        padding: 8px 0;

        &:hover {
            background-color: $secondary-color;
            transform: scale(1.05);
        }

        &--active {
            background-image: linear-gradient(135deg, $gradient-start, $gradient-end);
            box-shadow: 0 0 10px $secondary-color;
        }
    }

    &__icon {
        margin: 10px 0;
        animation: rotateIn 0.5s ease-in-out;
    }

    &__text {
        font-size: 16px;
    }
}

.burger-button {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    background: white;
    border: none;
    cursor: pointer;
    display: none;
    padding: 15px;
    border-bottom-left-radius: 10px;
    font-size: 24px;
}

.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: #242424;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 1000;
    display: none;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.burger-menu.open {
    transform: translateX(0);
}

.burger-menu__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.burger-menu__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #2c2c2c;

    .profile__socials {
        margin: 0;
        padding: 10px 0;
    }
}

.burger-menu__close {
    background: none;
    border: none;
    font-size: 40px;
    color: #dadada;
    cursor: pointer;
    align-self: flex-end;
}

.burger-menu__list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.burger-menu__item {
    margin-bottom: 15px;
}

.burger-menu__item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #eeeeee;
    transition: color 0.3s ease;
}

.burger-menu__icon {
    margin-right: 10px;
}

.burger-menu__text {
    font-size: 18px;
}

.burger-menu__item--active a {
    color: #691eff;
}

@media (max-width: 768px) {
    .burger-button,
    .burger-menu {
        display: block;
    }

    .sidebar {
        display: none;
    }
}
